<section
  class="h-[100vh] w-full relative overflow-hidden bg-[#E8C364] pl-5 xl:flex xl:items-center xl:justify-center"
  id="about"
>
  <div class="xl:w-[1200px]">
    <div
      class="text-white font-medium text-[4.5rem] md:text-[5rem] mt-[4rem] space-y-3"
    >
      <h3 class="leading-[60px] md:leading-[75px]">Designer</h3>
      <h3 class="leading-[60px] md:leading-[75px]">Artist</h3>
      <h3 class="leading-[60px] md:leading-[75px]">Developer</h3>
    </div>
    <article
      class="mt-[3rem] md:text-[2rem] md:tracking-wider md:leading-[40px] text-right pr-5 font-medium text-lg"
    >
      Are you looking for a communicative front-end developer who works well in
      a team and has a passion for everything that has to do with JavaScript
      (especially React)? Let me know! As a bonus I have a background in design
      and am a certified scrum master.
    </article>

    <a href="#">
      <button
        class="mt-[2rem] md:mt-[4rem] bg-[#262C92] px-4 py-2 rounded-md cursor-pointer font-medium text-lg md:text-2xl text-white"
      >
        View works</button
      >
    </a>
  </div>
</section>
