<section
  class="h-[100vh] w-full relative overflow-hidden bg-[#E8C364]"
  id="about"
>
  <div>
    <h3>Designer</h3>
    <h3>Artist</h3>
    <h3>Developer</h3>
  </div>
  <article>
    Are you looking for a communicative front-end developer who works well in a
    team and has a passion for everything that has to do with JavaScript
    (especially React)? Let me know! As a bonus I have a background in design
    and am a certified scrum master.
  </article>

  <a href="#">
    <button> View works</button>
  </a>
</section>
