<section class="bg-black flex flex-col items-center space-y-5" id="projects">
  <div class="md:grid md:grid-cols-2 md:gap-5 mt-[2rem]">
    <div class="cursor-pointer bg-purple-400 rounded-md w-[300px]">
      <img
        src="https://images.unsplash.com/photo-1597354984706-fac992d9306f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cHJvZHVjdCUyMGltYWdlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
        loading="lazy"
        alt="project1"
        class="object-cover w-[300px] h-[300px]"
      />
      <h3 class="text-[2rem] text-white pl-3 leading-10">Acme</h3>
      <h3 class="text-[2rem] text-white pl-3 leading-10">Web Designer</h3>
    </div>
    <div class="cursor-pointer bg-orange-700 rounded-md w-[300px]">
      <img
        src="https://images.unsplash.com/photo-1547887537-6158d64c35b3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjB8fHByb2R1Y3QlMjBpbWFnZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
        loading="lazy"
        alt="project1"
        class="object-cover w-[300px] h-[300px]"
      />
      <h3 class="text-[2rem] text-white pl-3 leading-10">Acme</h3>
      <h3 class="text-[2rem] text-white pl-3 leading-10">Photographer</h3>
    </div>
    <div class="cursor-pointer bg-orange-400 rounded-md w-[300px]">
      <img
        src="https://images.unsplash.com/photo-1615397349754-cfa2066a298e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fHByb2R1Y3QlMjBpbWFnZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
        loading="lazy"
        alt="project1"
        class="object-cover w-[300px] h-[300px]"
      />
      <h3 class="text-[2rem] text-white pl-3 leading-10">Acme</h3>
      <h3 class="text-[2rem] text-white pl-3 leading-10">Product Designer</h3>
    </div>
    <div class="cursor-pointer bg-green-900 rounded-md w-[300px]">
      <img
        src="https://images.unsplash.com/photo-1615900119312-2acd3a71f3aa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fHByb2R1Y3QlMjBpbWFnZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
        loading="lazy"
        alt="project1"
        class="object-cover w-[300px] h-[300px]"
      />
      <h3 class="text-[2rem] text-white pl-3 leading-10">Acme</h3>
      <h3 class="text-[2rem] text-white pl-3 leading-10">Scrum Master</h3>
    </div>
  </div>
</section>
