---
import Layout from "../layouts/Layout.astro";
import "@fontsource/dm-sans";
---

<Layout title="Candles">
  <section class="pt-[3rem] pl-5">
    <h3 class="font-medium text-2xl">
      shear butter cream made from organic materials
    </h3>
    <p class="mt-2 text-lg">just the perfect soap for your skin</p>
    <button class="border-[2px] border-[#101010] px-4 py-2 rounded-sm mt-5"
      >Shop Now</button
    >
    <div class="w-[310px] h-[210px] relative mb-[40px]">
      <div class="w-[320px] h-[200px] bg-[#a19967] absolute z-[-1] top-5"></div>
      <img
        src="https://images.unsplash.com/photo-1602409339188-95d178a611a0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8bG90aW9ufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
        loading="lazy"
        alt="candles"
        class="w-[300px] h-[200px] mt-5 object-cover shadow-sm rounded-sm"
      />
    </div>
    <h3>its time to treat your skin</h3>
    <img
      src="https://images.unsplash.com/photo-1602409339188-95d178a611a0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8bG90aW9ufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
      loading="lazy"
      alt="candles"
    />
  </section>

  <section class="flex items-center justify-center flex-col text-center">
    <h3 class="uppercase mt-[2rem] font-medium text-[1.3rem] tracking-loose">
      Some nice headldine
    </h3>

    <p class="mt-3 tracking-wide">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia eaque
      tempore exercitationem ea molestias obcaecati ipsa repellendus illo enim
      nobis! Molestiae deleniti laudantium eligendi, unde inventore
      necessitatibus vero nobis placeat.
    </p>
    <button
      class="px-4 py-2 border-[1px] border-[#101010] mt-5 cursor-pointer rounded-sm"
      >Shop Shear Cream</button
    >

    <img
      src="https://images.unsplash.com/photo-1602409339188-95d178a611a0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8bG90aW9ufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
      loading="lazy"
      alt="candles"
    />

    <h3>From Nature for your skin</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia eaque
      tempore exercitationem ea molestias obcaecati ipsa repellendus illo enim
      nobis! Molestiae deleniti laudantium eligendi, unde inventore
      necessitatibus vero nobis placeat.
    </p>
    <button>Our Story</button>
  </section>
  <footer>
    <h3>Shop</h3>
    <p>Sale</p>
    <p>Contact Us</p>

    <h3>help</h3>
    <p>FAQ</p>
    <p>Shipping</p>
    <p>Return Policy</p>
  </footer>
</Layout>
