---
import Layout from "../layouts/Layout.astro";
import "@fontsource/montserrat";
import "@fontsource/dm-sans";
const date = new Date().getFullYear();
---

<Layout title="Koru">
  <main class="">
    <section>
      <div
        class="w-full h-[400px] lg:h-[600px] bg-gray-300 pt-[5.5rem] text-center"
      >
        <h3
          class="text-[2.4rem] md:text-[3rem] lg:text-[80px] font-montserrat text-center"
        >
          We <span class="font-semibold">Create</span> Lasting <span
            class="font-semibold">Memories.</span
          >
        </h3>
        <p class="text-sans px-4 pt-4 md:text-lg lg:text-[22px]">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique.
        </p>
        <button
          class="bg-purple-400 font-semibold px-6 py-2 rounded-md mt-5 cursor-pointer md:text-lg"
          >Book a Call</button
        >
      </div>

      <div class="w-full bg-[#101010] pt-[2rem] text-center pb-5 md:py-[3rem]">
        <h3 class="text-white text-2xl">
          We create lasting memories with our Photography experiences
        </h3>
        <div
          class="items-center flex flex-col mt-5 space-y-5 md:space-y-0 md:justify-center md:flex-row md:gap-5"
        >
          <div class="border-[1px] border-gray-500 px-5 w-[351px] h-[250px]">
            <p class="font-sans text-[1rem] mt-5 text-left text-gray-300">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros elementum tristique. Duis cursus,
              mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam
              libero vitae erat.
            </p>

            <div class="flex items-center space-x-2 mt-5">
              <img
                src="https://images.unsplash.com/photo-1639149888905-fb39731f2e6c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGF2YXRhcnxlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60"
                alt="profile"
                loading="lazy"
                class="w-[60px] h-[60px] rounded-full object-cover"
              />
              <div class="font-sans text-left text-white">
                <p>John Amigos</p>
                <p class="text-[#bd9f60] text-base">CEO, Acme Co</p>
              </div>
            </div>
          </div>
          <div class="border-[1px] border-gray-500 px-5 w-[351px] h-[250px]">
            <p class="font-sans text-[1rem] mt-5 text-left text-gray-300">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros elementum tristique. Duis cursus,
              mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam
              libero vitae erat.
            </p>

            <div class="flex items-center space-x-2 mt-5">
              <img
                src="https://images.unsplash.com/photo-1639149888905-fb39731f2e6c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGF2YXRhcnxlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60"
                alt="profile"
                loading="lazy"
                class="w-[60px] h-[60px] rounded-full object-cover"
              />
              <div class="font-sans text-left text-white">
                <p>John Amigos</p>
                <p class="text-[#bd9f60] text-base">CEO, Acme Co</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex items-center justify-center bg-slate-200 md:py-[3rem]">
        <div class="lg:grid lg:grid-cols-2 lg:place-content-center">
          <div
            class="bg-purple-400 h-[200px] w-[350px] md:w-[600px] lg:h-[300px] lg:w-[500px] p-5 mt-[2rem] lg:mt-0 border-2 border-[#101010]"
          >
            <h3 class="text-4xl">
              A team full of talented and committed Folks.
            </h3>
          </div>

          <img
            src="https://images.unsplash.com/photo-1601934025804-c631e2777f26?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTZ8fHBob3RvZ3JhcGhlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
            alt="daah"
            class="w-[350px] md:w-[600px] h-[300px] lg:w-[300px] object-cover border-2 border-[#101010] max-w-full"
            loading="lazy"
          />

          <img
            src="https://images.unsplash.com/photo-1625492922105-5914617fd869?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fHBob3RvZ3JhcGhlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
            alt="daah"
            class="w-[350px] md:w-[600px] h-[300px] lg:w-[500px] object-cover border-2 border-[#101010]"
            loading="lazy"
          />

          <div
            class="bg-purple-400 md:w-[600px] h-[200px] w-[350px] lg:w-[300px] lg:h-[300px] p-5 border-2 border-[#101010]"
          >
            <p class="mt-3 md:text-lg">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros elementum tristique.
            </p>
            <button
              class="bg-white font-semibold px-6 py-2 rounded-md mt-5 cursor-pointer md:text-lg"
              >Book a Call</button
            >
          </div>
        </div>
      </div>
    </section>

    <section>
      <h3 class="text-center mt-[2rem] text-2xl mb-3 xl:text-3xl">
        Our Selected Works
      </h3>
      <div class="md:flex md:items-center md:justify-center">
        <div
          class="flex flex-col items-center space-y-5 md:grid md:grid-cols-2 xl:grid-cols-3 md:space-y-0 md:gap-5 md:content-center"
        >
          <div
            class="border-[1px] border-gray-500 bg-pink-900 p-5 w-[351px] h-[440px]"
          >
            <div class="">
              <img
                src="https://images.unsplash.com/photo-1560343090-f0409e92791a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cHJvZHVjdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                alt="logo"
                loading="lazy"
                class="w-[300px] h-[200px] object-cover object-center"
              />
            </div>
            <h3 class="font-medum font-sans text-white text-3xl pt-2">
              Acme Inc
            </h3>
            <h1 class="text-white italic text-lg">Product Shoot</h1>
            <p class="font-sans text-[1rem] mt-1 text-left text-gray-300">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros elementum tristique. Duis cursus,
              mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam
              libero vitae erat.
            </p>
          </div>
          <div
            class="border-[1px] border-gray-500 bg-green-800 p-5 w-[351px] h-[440px]"
          >
            <div class="">
              <img
                src="https://images.unsplash.com/photo-1491637639811-60e2756cc1c7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjd8fHByb2R1Y3R8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                alt="logo"
                loading="lazy"
                class="w-[300px] h-[200px] object-cover object-center"
              />
            </div>
            <h3 class="font-medum font-sans text-white text-3xl pt-2">
              Acme Inc
            </h3>
            <h1 class="text-white italic text-lg">Brand Development</h1>
            <p class="font-sans text-[1rem] mt-1 text-left text-white">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros elementum tristique. Duis cursus,
              mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam
              libero vitae erat.
            </p>
          </div>
          <div
            class="border-[1px] border-gray-500 bg-purple-900 p-5 w-[351px] h-[440px]"
          >
            <div class="">
              <img
                src="https://images.unsplash.com/photo-1550005809-91ad75fb315f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHdlZGRpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                alt="logo"
                loading="lazy"
                class="w-[300px] h-[200px] object-cover object-center"
              />
            </div>
            <h3 class="font-medum font-sans text-white text-3xl pt-2">
              John & Mary
            </h3>
            <h1 class="text-white italic text-lg">Wedding Shoot</h1>
            <p class="font-sans text-[1rem] mt-1 text-left text-gray-300">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros elementum tristique. Duis cursus,
              mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam
              libero vitae erat.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section
      class="w-screen flex flex-col items-center bg-purple-300 text-[#101010] mt-[3rem] pb-5"
    >
      <h3 class="text-2xl md:text-3xl mt-[2rem]">
        Want to Collaborate, Let's talk
      </h3>
      <p class="text-center text-lg md:text-xl">
        Our team will get back to you within 3 days
      </p>
      <div class="">
        <form class="mt-[3rem]">
          <div class="flex flex-col space-y-3">
            <label for="email" class="text-2xl"> Email</label>
            <input
              type="email"
              placeholder="Your Email Here"
              class="bg-transparent border-[1px] border-[#101010] px-4 py-2 w-[300px] rounded-sm"
            />
          </div>
          <div class="flex flex-col space-y-3 mt-5">
            <label for="message" class="text-2xl"> Message</label>
            <textarea
              name="message"
              id="message"
              cols="30"
              rows="10"
              class="bg-transparent border-[1px] border-[#101010] px-4 py-2 w-[300px] rounded-sm"
              placeholder="Your Message Here"></textarea>
          </div>

          <button
            class="bg-green-300 px-6 py-2 mt-5 cursor-pointer rounded-md text-lg"
            >Submit</button
          >
        </form>
      </div>
    </section>

    <footer>
      <section
        class="flex flex-col items-center justify-center pt-[2rem] text-white bg-black w-screen text-center font-sans"
      >
        <footer class="w-[350px] md:w-[700px] mt-[3rem]">
          <div class="md:grid md:grid-cols-3 md:space-x-5 md:justify-around">
            <ul class="text-left text-base mt-[2rem] space-y-4 px-5">
              <li class="font-semibold text-lg">Pages</li>
              <li class="cursor-pointer">Home</li>
              <li class="cursor-pointer">About</li>
              <li class="cursor-pointer">Pricing</li>
              <li class="cursor-pointer">Contact Us</li>
            </ul>
            <ul
              class="text-left text-base mt-[2rem] space-y-4 px-5 md:w-[200px]"
            >
              <li class="font-semibold text-lg">Pages</li>
              <li class="cursor-pointer">Contact</li>
              <li class="cursor-pointer">Sign Up</li>
              <li class="cursor-pointer">Privacy Policy</li>
              <li class="cursor-pointer">Terms and Services</li>
            </ul>
            <ul
              class="text-left text-base mt-[2rem] space-y-4 px-5 md:w-[200px]"
            >
              <li class="font-semibold text-lg">Pages</li>
              <li class="cursor-pointer">License</li>
              <li class="cursor-pointer">Style Guide</li>
              <li class="cursor-pointer">Password</li>
              <li class="cursor-pointer">404</li>
            </ul>
          </div>
          <h3 class="text-center text-lg mt-[3rem]">
            All Right Reserved Roku @ {date}
          </h3>
        </footer>
      </section>
    </footer>
  </main>
</Layout>
