---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/koru/Hero.astro";
import Showcase from "../components/koru/showcase.astro";
import "@fontsource/montserrat";
import "@fontsource/dm-sans";
---

<Layout title="Koru">
  <main class="">
    <Hero />
    <Showcase />
  </main>
</Layout>
