---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/portfolio/Hero.astro";
import About from "../components/portfolio/About.astro";
import "@fontsource/montserrat";
import Projects from "../components/portfolio/projects.astro";
import Contact from "../components/portfolio/contact.astro";
---

<Layout title="portfolio">
  <main class="font-montserrat relative overflow-hidden max-w-[150ch]">
    <Hero />

    <About />
    <Projects />
    <Contact />
  </main>
</Layout>
