---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GSAP Scroll Magic Animation</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="fullpage">
      <div class="min-h-[100vh]" id="section1">
        <div class="my-0 mx-[10%]">
          <div class="w-[80%] float-left">
            <div class="hero-title">
              <span>BOOK NOW</span>
              <h1>Winter Special</h1>
            </div>
            <div>
              <span
                class="text-[1.2rem] tracking-wide relative inline-block uppercase mt-[30px]"
                >JUST FOR YOU</span
              >
              <h3>SCROLL DOWN FOR SOME MAGIC</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="min-h-[100vh]" id="section2">
        <div class="my-0 mx-[10%]">
          <div class="tracking-wide width-full float-left mb-[1rem]">
            <span
              class="text-[1.2rem] tracking-wide relative inline-block uppercase mt-[30px]"
              >About Us</span
            >
            <p class="text-[1.2rem]">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
              dolores ducimus inventore architecto unde voluptates ipsam magni
              dicta illum aliquid quod necessitatibus, labore quibusdam odio.
              Sapiente ipsam ad dolorum odit animi officia maxime dolorem
              aliquid eveniet quidem a, quasi repudiandae consequuntur quod
              exercitationem voluptatem ducimus et tempore? Fugiat quod a magni
              totam esse voluptate quis optio, exercitationem nihil similique
              doloribus soluta tenetur. Facilis, labore doloremque explicabo
              culpa repudiandae neque temporibus exercitationem consectetur modi
              doloribus est dolorem, ullam laudantium voluptatem, dolores
              ducimus expedita sint accusamus voluptates consequatur in tempore
              optio! Alias ab officia corporis iure eveniet exercitationem
              delectus autem odit explicabo!
            </p>
            <p class="text-[1.2rem]">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
              dolores ducimus inventore architecto unde voluptates ipsam magni
              dicta illum aliquid quod necessitatibus, labore quibusdam odio.
              Sapiente ipsam ad dolorum odit animi officia maxime dolorem
              aliquid eveniet quidem a, quasi repudiandae consequuntur quod
              exercitationem voluptatem ducimus et tempore? Fugiat quod a magni
              totam esse voluptate quis optio, exercitationem nihil similique
              doloribus soluta tenetur. Facilis, labore doloremque explicabo
              culpa repudiandae neque temporibus exercitationem consectetur modi
              doloribus est dolorem, ullam laudantium voluptatem, dolores
              ducimus expedita sint accusamus voluptates consequatur in tempore
              optio! Alias ab officia corporis iure eveniet exercitationem
              delectus autem odit explicabo!
            </p>
          </div>
        </div>
      </div>

      <div class="min-h-[100vh]" id="section3">
        <div class="my-0 mx-[10%]">
          <span
            class="text-[1.2rem] tracking-wide relative inline-block uppercase mt-[30px] mb-[1rem]"
            >Gallery</span
          >
          <div class="w-[80%] float-left mr-[50%] mb-[60px]">
            <img
              src="https://images.unsplash.com/photo-1604537465249-4f9fc94f6718?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGJveCUyMHdhdGVyfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
              alt="bla bla"
              class="max-w-full"
            />
          </div>
        </div>
      </div>

      <div id="bg" class="z-[-1] fixed top-0 left-0 w-full h-full">
        <img
          src="https://images.unsplash.com/photo-1530891035393-9f321c57acdb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGJveCUyMHdhdGVyfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
          alt=""
          class="absolute top-[40%] left-[50%] translate-x-[-50%] translate-y-[-40%] max-w-[900px]"
        />
      </div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/animation.gsap.js"
    ></script>

    <script src="../components/scripts/saas.ts"></script>
  </body>
</html>
