---
import Layout from "../layouts/Layout.astro";
import "@fontsource/dm-sans";
---

<Layout title="saas">
  <main
    class="pt-[4rem] flex flex-col items-center justify-center md:max-w-[200ch] overflow-hidden"
  >
    <section
      class="flex flex-col text-center pt-[4rem] justify-center items-center max-w-lg"
    >
      <div class="space-x-3">
        <button class="px-4 py-2 rounded-full bg-slate-200 sm:text-lg"
          >Lorem Ips</button
        >
        <button class="sm:text-lg">Lorem Ipsum Loret Idet</button>
      </div>
      <h1
        class="pt-[2rem] text-3xl sm:text-[2.7rem] sm:leading-[45px] font-medium xl:text-[2.9rem] lg:leading-[60px]"
      >
        Some Nice Fancy and cool title
      </h1>
      <p class="mt-2 sm:text-lg lg:text-xl">
        Think of something cool, more catchy, chatGPT is right there for you
      </p>
      <button
        class="mt-5 px-6 py-2 rounded-sm bg-[#100111] text-white font-medium text-lg"
        >Call to Action</button
      >
    </section>

    <section
      class="bg-[#100111] text-white pl-5 py-[2rem] mt-[5rem] w-screen flex items-center justify-center"
    >
      <div
        class="space-y-7 md:grid md:grid-cols-2 md:space-y-0 md:gap-3 lg:gap-[40px]"
      >
        <div>
          <img
            src="/logo1.png"
            alt="logo1"
            loading="lazy"
            class="w-[30px] h-[30px]"
          />
          <h1 class="mt-3 text-xl sm:text-2xl">Unique VP</h1>
          <p class="text-[0.9rem] sm:text-lg mt-2 lg:w-[500px]">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis
            error quaerat numquam voluptates non. Pariatur laborum dolore
            commodi illum architecto ex.
          </p>
        </div>
        <div>
          <img
            src="/logo1.png"
            alt="logo1"
            loading="lazy"
            class="w-[30px] h-[30px]"
          />
          <h1 class="mt-3 text-xl sm:text-2xl">Unique VP</h1>
          <p class="text-[0.9rem] mt-2 sm:text-lg lg:w-[500px]">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis
            error quaerat numquam voluptates non. Pariatur laborum dolore
            commodi illum architecto ex.
          </p>
        </div>
        <div>
          <img
            src="/logo1.png"
            alt="logo1"
            loading="lazy"
            class="w-[30px] h-[30px]"
          />
          <h1 class="mt-3 text-xl sm:text-2xl">Unique VP</h1>
          <p class="text-[0.9rem] mt-2 sm:text-lg lg:w-[500px]">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis
            error quaerat numquam voluptates non. Pariatur laborum dolore
            commodi illum architecto ex.
          </p>
        </div>
        <div>
          <img
            src="/logo1.png"
            alt="logo1"
            loading="lazy"
            class="w-[30px] h-[30px]"
          />
          <h1 class="mt-3 text-xl sm:text-2xl">Unique VP</h1>
          <p class="text-[0.9rem] mt-2 sm:text-lg lg:w-[500px]">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis
            error quaerat numquam voluptates non. Pariatur laborum dolore
            commodi illum architecto ex.
          </p>
        </div>
      </div>
    </section>
    <section
      class="mt-[3rem] space-y-[2rem] lg:space-y-0 flex items-center flex-col lg:grid lg:grid-cols-2 lg:gap-[40px]"
    >
      <div
        class="flex items-center flex-col sm:w-[450px] md:w-[700px] lg:w-[350px] md:flex-row lg:flex-col md:items-start"
      >
        <div>
          <h3 class="text-center md:text-left text-xl">Heading</h3>
          <img
            src="https://images.unsplash.com/photo-1624555130296-e551faf8969b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGVtcGxveWVlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
            loading="lazy"
            alt="alt"
            class="w-[350px] mt-2 h-[200px] md:w-[500px] md:h-[120px] aspect-auto object-cover rounded-md lg:w-[350px] lg:h-[200px]"
          />
        </div>

        <p
          class="text-center mt-3 sm:text-lg md:text-left md:pl-[2rem] lg:pl-0"
        >
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis
          error quaerat numquam voluptates non.
        </p>
      </div>
      <div
        class="flex items-center flex-col sm:w-[450px] md:w-[700px] lg:w-[350px] md:flex-row lg:flex-col md:items-start"
      >
        <div>
          <h3 class="text-center md:text-left text-xl">Heading</h3>
          <img
            src="https://images.unsplash.com/photo-1624555130296-e551faf8969b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGVtcGxveWVlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
            loading="lazy"
            alt="alt"
            class="w-[350px] mt-2 h-[200px] md:w-[500px] md:h-[120px] aspect-auto object-cover rounded-md lg:w-[350px] lg:h-[200px]"
          />
        </div>

        <p
          class="text-center mt-3 sm:text-lg md:text-left md:pl-[2rem] lg:pl-0"
        >
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis
          error quaerat numquam voluptates non.
        </p>
      </div>
      <div
        class="flex items-center flex-col sm:w-[450px] md:w-[700px] lg:w-[350px] md:flex-row lg:flex-col md:items-start"
      >
        <div>
          <h3 class="text-center md:text-left text-xl">Heading</h3>
          <img
            src="https://images.unsplash.com/photo-1624555130296-e551faf8969b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGVtcGxveWVlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
            loading="lazy"
            alt="alt"
            class="w-[350px] mt-2 h-[200px] md:w-[500px] md:h-[120px] aspect-auto object-cover rounded-md lg:w-[350px] lg:h-[200px]"
          />
        </div>

        <p
          class="text-center mt-3 sm:text-lg md:text-left md:pl-[2rem] lg:pl-0"
        >
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis
          error quaerat numquam voluptates non.
        </p>
      </div>
      <div
        class="flex items-center flex-col sm:w-[450px] md:w-[700px] lg:w-[350px] md:flex-row lg:flex-col md:items-start"
      >
        <div>
          <h3 class="text-center md:text-left text-xl">Heading</h3>
          <img
            src="https://images.unsplash.com/photo-1624555130296-e551faf8969b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGVtcGxveWVlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
            loading="lazy"
            alt="alt"
            class="w-[350px] mt-2 h-[200px] md:w-[500px] md:h-[120px] aspect-auto object-cover rounded-md lg:w-[350px] lg:h-[200px]"
          />
        </div>

        <p
          class="text-center mt-3 sm:text-lg md:text-left md:pl-[2rem] lg:pl-0"
        >
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis
          error quaerat numquam voluptates non.
        </p>
      </div>
    </section>

    <section
      class="bg-slate-100 w-screen pb-[3rem] pt-5 pl-5 mt-[2rem] sm:flex sm:flex-col sm:items-center"
    >
      <h3 class="text-2xl font-medium sm:text-3xl">Send us a message</h3>

      <p class="sm:text-lg sm:text-center lg:w-[500px]">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor
        laboriosam, provident, dolores architecto possimus.
      </p>
      <form class="flex flex-col space-y-5 mt-5 lg:mt-[3rem]">
        <input
          type="text"
          placeholder="Name"
          class="bg-transparent pl-3 rounded-sm border-[2px] px-6 py-2 w-[300px] border-[#000000] ring-0"
        />
        <input
          type="email"
          placeholder="Email"
          class="bg-transparent pl-3 rounded-sm border-[2px] px-6 py-2 w-[300px] border-[#000000] ring-0"
        />

        <textarea
          name="message"
          id="message"
          cols="30"
          rows="10"
          class="bg-transparent border-[2px] ] px-4 py-2 w-[300px] rounded-sm focus:ring-2 focus:ring-white border-[#000000] ring-0"
          placeholder="Your Message Here"></textarea>
        <button
          class="bg-[#000000] text-white font-medium w-[300px] px-6 py-2 mt-5 cursor-pointer rounded-md text-lg"
          >Send</button
        >
      </form>
    </section>

    <section>
      <div class="mt-[3rem] pl-5">
        <h3 class="text-center text-3xl">Take a peek on our Blog</h3>
        <div class="lg:grid lg:grid-cols-2 lg:gap-5 lg:space-x-7">
          <div
            class="cursor-pointer lg:w-[300px] hover:scale-105 transition-all duration-300 ease-in-out"
          >
            <h3 class="mt-7 text-[1.45rem]">Your Catchy Blog Title</h3>
            <p class="text-left mt-1">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi
            </p>
            <img
              src="https://images.unsplash.com/photo-1590650153855-d9e808231d41?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGVtcGxveWVlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
              alt="alt"
              loading="lazy"
              class="object-cover mt-3 rounded-sm w-[300px] h-[200px]"
            />
          </div>
          <div
            class="cursor-pointer lg:w-[300px] hover:scale-105 transition-all duration-300 ease-in-out"
          >
            <h3 class="mt-7 text-[1.45rem]">Your Catchy Blog Title</h3>
            <p class="text-left mt-1">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi
            </p>
            <img
              src="https://images.unsplash.com/photo-1590650153855-d9e808231d41?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGVtcGxveWVlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
              alt="alt"
              loading="lazy"
              class="object-cover mt-3 rounded-sm w-[300px] h-[200px]"
            />
          </div>
          <div
            class="cursor-pointer lg:w-[300px] hover:scale-105 transition-all duration-300 ease-in-out"
          >
            <h3 class="mt-7 text-[1.45rem]">Your Catchy Blog Title</h3>
            <p class="text-left mt-1">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi
            </p>
            <img
              src="https://images.unsplash.com/photo-1590650153855-d9e808231d41?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGVtcGxveWVlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
              alt="alt"
              loading="lazy"
              class="object-cover mt-3 rounded-sm w-[300px] h-[200px]"
            />
          </div>

          <div
            class="cursor-pointer lg:w-[300px] hover:scale-105 transition-all duration-300 ease-in-out"
          >
            <h3 class="mt-7 text-[1.45rem]">Your Catchy Blog Title</h3>
            <p class="text-left mt-1">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi
            </p>
            <img
              src="https://images.unsplash.com/photo-1590650153855-d9e808231d41?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGVtcGxveWVlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
              alt="alt"
              loading="lazy"
              class="object-cover mt-3 rounded-sm w-[300px] h-[200px]"
            />
          </div>
        </div>
      </div>
    </section>

    <section
      class="mt-[2rem] pl-5 sm:mt-[4rem] sm:flex sm:flex-col sm:items-center"
    >
      <h3 class="font-medium text-2xl lg:text-3xl">Company Title</h3>
      <p class="text-[0.95rem] sm:w-[500px] sm:text-center lg:text-lg">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt
        quibusdam ab, laboriosam tempora earum minus
      </p>
    </section>
  </main>
  <footer class="mt-5">
    <div class="mt-5 bg-[#100111] w-full text-white pl-5 py-5">
      <h3 class="font-medium text-2xl text-center">
        Subsribe to our news letter
      </h3>
      <p class="text-center text-lg">Join us and receive live updates</p>
      <form class="flex flex-col items-center">
        <input
          type="email"
          placeholder="Email"
          class="w-[300px] py-3 pl-5 rounded-sm mt-5"
        />
        <button
          class="mt-5 px-6 py-2 rounded-sm border-2 border-white w-[300px] text-white font-medium text-lg"
          >Subscribe</button
        >
      </form>
    </div>
  </footer>
</Layout>
