---
import Layout from "../layouts/Layout.astro";
---

<Layout title="saas">
  <main>
    <section>
      <div>
        <button>Lorem Ips</button>
        <button>Lorem Ipsum Loret Idet</button>
      </div>
      <h1>Some Nice Fancy and cool title</h1>
      <p>
        Think of something cool, more catchy, chatGPT is right there for you
      </p>
      <button>Call to Action</button>
    </section>

    <section>
      <div>
        <img
          src="/logo1.png"
          alt="logo1"
          loading="lazy"
          class="w-[30px] h-[30px]"
        />
        <h1>Unique VP</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis
          error quaerat numquam voluptates non. Pariatur laborum dolore commodi
          illum architecto ex.
        </p>
      </div>
      <div>
        <img
          src="/logo1.png"
          alt="logo1"
          loading="lazy"
          class="w-[30px] h-[30px]"
        />
        <h1>Unique VP</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis
          error quaerat numquam voluptates non. Pariatur laborum dolore commodi
          illum architecto ex.
        </p>
      </div>
      <div>
        <img
          src="/logo1.png"
          alt="logo1"
          loading="lazy"
          class="w-[30px] h-[30px]"
        />
        <h1>Unique VP</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis
          error quaerat numquam voluptates non. Pariatur laborum dolore commodi
          illum architecto ex.
        </p>
      </div>
      <div>
        <img
          src="/logo1.png"
          alt="logo1"
          loading="lazy"
          class="w-[30px] h-[30px]"
        />
        <h1>Unique VP</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis
          error quaerat numquam voluptates non. Pariatur laborum dolore commodi
          illum architecto ex.
        </p>
      </div>
    </section>
    <section>
      <div>
        <h3>Heading 1</h3>
        <img
          src="https://images.unsplash.com/photo-1624555130296-e551faf8969b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGVtcGxveWVlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
          loading="lazy"
          alt="alt"
          class=""
        />

        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis
          error quaerat numquam voluptates non.
        </p>
      </div>
      <div>
        <h3>Heading 1</h3>
        <img
          src="https://images.unsplash.com/photo-1624555130296-e551faf8969b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGVtcGxveWVlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
          loading="lazy"
          alt="alt"
          class=""
        />

        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis
          error quaerat numquam voluptates non.
        </p>
      </div>
      <div>
        <h3>Heading 1</h3>
        <img
          src="https://images.unsplash.com/photo-1624555130296-e551faf8969b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGVtcGxveWVlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
          loading="lazy"
          alt="alt"
          class=""
        />

        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis
          error quaerat numquam voluptates non.
        </p>
      </div>
    </section>
  </main>
</Layout>
