---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/tonero/HeroSection.astro";
import Features from "../components/tonero/features.astro";
import Testimonials from "../components/tonero/testimonials.astro";
import Pricing from "../components/tonero/pricing.astro";
import Footer from "../components/tonero/Footer.astro";
import "@fontsource/playfair-display";
import "@fontsource/dm-sans";
---

<Layout title="Tonero">
  <main class="font-playFair text-xl bg-black">
    <HeroSection />
    <Features />
    <Testimonials />
    <Pricing />
    <Footer />
  </main>
</Layout>
