<section
  class="flex flex-col items-center justify-center pt-[2rem] text-white text-center font-sans"
>
  <h3 class="text-base uppercase text-[#bd9f60]">pricing</h3>
  <h3 class="text-4xl font-playFair">Pricing Plan</h3>
  <p class="text-[1rem] text-gray-300">
    Lorem ipsum dolor sit amet, consectetur adipising elit
  </p>

  <div
    class="font-sans w-[351px] md:w-[738px] md:h-[400px] md:mt-5 h-[350px] border-gray-500 border-[1px] rounded-sm"
  >
    <h3 class="font-playFair mt-[2rem] md:mt-[3rem] text-2xl md:text-[1.7rem]">
      Basic Plan
    </h3>
    <h3 class="font-playFair text-[#bd9f60]">
      <span class="text-3xl">&dollar;</span>18/month
    </h3>
    <p class="mt-5 md:text-base">or $199 yearly</p>

    <div>
      <ul class="space-y-1 mt-5 md:text-base">
        <li class="text-gray-300 text-[1rem] space-x-5">
          <span class="text-[#bd9f60] pr-2">&#10003;</span>Lorem Ipsur Dor
        </li>
        <li class="text-gray-300 text-[1rem] space-x-5">
          <span class="text-[#bd9f60] pr-2">&#10003;</span>Lorem Ipsur Dor
        </li>

        <li class="text-gray-300 text-[1rem] space-x-5">
          <span class="text-[#bd9f60] pr-2">&#10003;</span>Lorem Ipsur Dor
        </li>
      </ul>

      <button class="mt-5 md:mt-[2rem] cursor-pointer md:w-[700px]">
        <a
          href="#"
          class="bg-[#bd9f60] font-sans font-medium mt-[2rem] px-10 py-3 rounded-sm text-[1rem] text-white uppercase"
          >learn more</a
        >
      </button>
    </div>
  </div>
  <div
    class="font-sans w-[351px] h-[350px] md:w-[738px] md:h-[400px] bg-[#3b3d4d] rounded-sm mt-5"
  >
    <h3 class="font-playFair mt-[2rem] text-2xl">Yearly Plan</h3>
    <h3 class="font-playFair text-[#bd9f60]">
      <span class="text-3xl">&dollar;</span>18/month
    </h3>
    <p class="mt-5">or $199 yearly</p>

    <div>
      <ul class="space-y-1 mt-5">
        <li class="text-gray-300 text-[1rem] space-x-5">
          <span class="text-[#bd9f60] pr-2">&#10003;</span>Lorem Ipsur Dor
        </li>
        <li class="text-gray-300 text-[1rem] space-x-5">
          <span class="text-[#bd9f60] pr-2">&#10003;</span>Lorem Ipsur Dor
        </li>

        <li class="text-gray-300 text-[1rem] space-x-5">
          <span class="text-[#bd9f60] pr-2">&#10003;</span>Lorem Ipsur Dor
        </li>
      </ul>

      <button class="mt-5 cursor-pointer">
        <a
          href="#"
          class="bg-[#bd9f60] font-sans font-medium mt-[2rem] px-10 py-3 rounded-sm text-[1rem] text-white uppercase"
          >learn more</a
        >
      </button>
    </div>
  </div>
  <div
    class="font-sans w-[351px] h-[350px] md:w-[738px] md:h-[400px] border-gray-500 border-[1px] rounded-sm mt-5"
  >
    <h3 class="font-playFair mt-[2rem] text-2xl">Enterprise Plan</h3>
    <h3 class="font-playFair text-[#bd9f60]">
      <span class="text-3xl">&dollar;</span>18/month
    </h3>
    <p class="mt-5">or $199 yearly</p>

    <div>
      <ul class="space-y-1 mt-5">
        <li class="text-gray-300 text-[1rem] space-x-5">
          <span class="text-[#bd9f60] pr-2">&#10003;</span>Lorem Ipsur Dor
        </li>
        <li class="text-gray-300 text-[1rem] space-x-5">
          <span class="text-[#bd9f60] pr-2">&#10003;</span>Lorem Ipsur Dor
        </li>

        <li class="text-gray-300 text-[1rem] space-x-5">
          <span class="text-[#bd9f60] pr-2">&#10003;</span>Lorem Ipsur Dor
        </li>
      </ul>

      <button class="mt-5 cursor-pointer">
        <a
          href="#"
          class="bg-[#bd9f60] font-sans font-medium mt-[2rem] px-10 py-3 rounded-sm text-[1rem] text-white uppercase"
          >learn more</a
        >
      </button>
    </div>
  </div>
</section>
