<section
  class="flex flex-col items-center justify-center pt-[4rem] text-white text-center"
>
  <h3 class="font-playFair text-4xl">Customer Testimonials</h3>
  <p class="font-sans text-gray-300 text-base text-left mt-5 px-3">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </p>
  <div class="space-y-5 md:space-y-0 md:grid md:grid-cols-2 md:gap-5 mt-[2rem]">
    <div class="border-[1px] border-gray-500 p-5 w-[351px] h-[314px]">
      <div class="flex items-center space-x-2">
        <img
          src="logo1.png"
          alt="logo"
          loading="lazy"
          class="w-[40px] h-[40px]"
        />
        <h3 class="font-bold font-sans text-[#bd9f60]">LogoIpsum</h3>
      </div>
      <p class="font-sans text-[1rem] mt-5 text-left text-gray-300">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>

      <div class="flex items-center space-x-2 mt-5">
        <img
          src="https://images.unsplash.com/photo-1639149888905-fb39731f2e6c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGF2YXRhcnxlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60"
          alt="profile"
          loading="lazy"
          class="w-[60px] h-[60px] rounded-full object-cover"
        />
        <div class="font-sans text-left">
          <p>John Amigos</p>
          <p class="text-[#bd9f60] text-base">CEO, Acme Co</p>
        </div>
      </div>
    </div>
    <div class="border-[1px] border-gray-500 p-5 w-[351px] h-[314px]">
      <div class="flex items-center space-x-2">
        <img
          src="logo1.png"
          alt="logo"
          loading="lazy"
          class="w-[40px] h-[40px]"
        />
        <h3 class="font-bold font-sans text-[#bd9f60]">LogoIpsum</h3>
      </div>
      <p class="font-sans text-[1rem] mt-5 text-left text-gray-300">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>

      <div class="flex items-center space-x-2 mt-5">
        <img
          src="https://images.unsplash.com/photo-1639149888905-fb39731f2e6c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGF2YXRhcnxlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60"
          alt="profile"
          loading="lazy"
          class="w-[60px] h-[60px] rounded-full object-cover"
        />
        <div class="font-sans text-left">
          <p>John Amigos</p>
          <p class="text-[#bd9f60] text-base">CEO, Acme Co</p>
        </div>
      </div>
    </div>
    <div class="border-[1px] border-gray-500 p-5 w-[351px] h-[314px]">
      <div class="flex items-center space-x-2">
        <img
          src="logo1.png"
          alt="logo"
          loading="lazy"
          class="w-[40px] h-[40px]"
        />
        <h3 class="font-bold font-sans text-[#bd9f60]">LogoIpsum</h3>
      </div>
      <p class="font-sans text-[1rem] mt-5 text-left text-gray-300">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>

      <div class="flex items-center space-x-2 mt-5">
        <img
          src="https://images.unsplash.com/photo-1639149888905-fb39731f2e6c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGF2YXRhcnxlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60"
          alt="profile"
          loading="lazy"
          class="w-[60px] h-[60px] rounded-full object-cover"
        />
        <div class="font-sans text-left">
          <p>John Amigos</p>
          <p class="text-[#bd9f60] text-base">CEO, Acme Co</p>
        </div>
      </div>
    </div>
    <div class="border-[1px] border-gray-500 p-5 w-[351px] h-[314px]">
      <div class="flex items-center space-x-2">
        <img
          src="logo1.png"
          alt="logo"
          loading="lazy"
          class="w-[40px] h-[40px]"
        />
        <h3 class="font-bold font-sans text-[#bd9f60]">LogoIpsum</h3>
      </div>
      <p class="font-sans text-[1rem] mt-5 text-left text-gray-300">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>

      <div class="flex items-center space-x-2 mt-5">
        <img
          src="https://images.unsplash.com/photo-1639149888905-fb39731f2e6c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGF2YXRhcnxlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60"
          alt="profile"
          loading="lazy"
          class="w-[60px] h-[60px] rounded-full object-cover"
        />
        <div class="font-sans text-left">
          <p>John Amigos</p>
          <p class="text-[#bd9f60] text-base">CEO, Acme Co</p>
        </div>
      </div>
    </div>
  </div>
</section>
